{% extends 'images_repo/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="p-3">
        <h1>Upload an image</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>{{ title }}</legend>
        <!-- title input -->
        <div class="form-group p-3 pb-1 pt-1">
            <label for="id_title">{{ form.title.label }}</label>
            <input id="id_title" type="text" name="title" class="form-control" aria-describedby="titleHelp" placeholder="Enter title" maxlength="100" required />
        </div>
        <!-- description input -->
        <div class="form-group p-3 pb-1 pt-1">
            <label for="id_description">{{ form.description.label }}</label>
            <input type="text" class="form-control" id="id_description" aria-describedby="description_help" placeholder="Enter description" maxlength="500" />
            <small id="description_help" name="description" class="form-text text-muted">Give your post a description.</small>
        </div>
        <!-- public input -->
        <div class="form-check p-3 pb-1 pt-1">
            <label for="id_public">Public Photo?</label>
            {{ form.public }}
        </div>
         <!-- image input -->
        <div class="form-group p-3 pb-1 pt-1">
            <label for="id_image">{{ form.image.label }}</label>
            <input type="file" id="image_input" name="image" aria-describedby="fileHelp" required />
        </div>
        <div class="form-actions p-3 pt-1 pb-1">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>
    <div class="d-flex justify-content-center p-3 m-2">
        <h3>Post Preview</h3>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div id="image_card_preview" class="card flex-lg-column">
            <img src="" id="image_card_top" class="card-img-top w-100 h-75 mw-50" alt="..."/>
            <div class="card-body">
                <h5 id="preview_card_title" class="card-title text-left pb-1">Title</h5>
                <h6 class="card-subtitle mb-2 text-secondary">{{ user }}</h6>
                <h6 id="preview_card_public" class="card-subtitle mb-2 text-secondary">Private</h6>
                <p id="preview_card_description" class="card-text">Image Description</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block page_css %}
    <link href="{% static 'images_repo/css/add_image.css' %}" rel="stylesheet"></script>
{% endblock %}

{% block page_js %}    
    <script src="{% static 'images_repo/js/add_image.js' %}"></script>
{% endblock %}
