{% extends 'images_repo/base.html' %}
{% load static %}
{% block content %} 

<main class="p-3 bg-black">
  <div class="container">
    <div id="gallery_header" class="row justify-content-center"> 
      <h1 class="text-center text-white">Gallery</h1>
    </div>
  </div>

    {% if image_list %}
    

    <div class="row row-cols1 row-cols-md-3 g-4">
    {% for image in image_list %}
      <div class="col mb-3 d-flex align-items-stretch justify-content-center">
        <div id="gallery-card" class="card">
          <img src="{{ image.image.url }}" class="card-img-top w-100 h-75" alt="..."/>
          <div class="card-body">
            <h5 class="card-title text-left pb-1">{{ image.title }}</h5>
            <h6 class="card-subtitle mb-2 text-secondary">User: {{ image.owner }}</h6>
            {% if image.public == False %} 
            <h6 class="card-subtitle mb-2 text-secondary">Private</h6>
            {% endif %}
            <p class="card-text">{{ image.description }}</p>
            {% if user.is_authenticated and user == image.owner %}
            <a id="card-delete-button" href='{% url "delete-image" image.id %}' class="btn mr-2 text-white"
            ><i class="fas fa-link"></i> Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    {% else %} 
    <div class="d-flex justify-content-center">
      <h3 class="text-center text-white">Upload some images!</h3>
    </div>
    {% endif %}
</main>
{% endblock %}
{% block page_css %}
    <link href="{% static 'images_repo/css/gallery.css' %}" rel="stylesheet"></script>
{% endblock %}