{% extends 'images_repo/base.html' %}

{% block content %} 

<h1>Images</h1>
    {% if image_list %}
    <ul>
    {% for image in image_list %}
    
        <li>
            <div class='card' style='width: 18rem;'>
                <img src='{{ image.image.url }}' class='card-img-top' alt='...'>
                <div class='card-body'>
                  <h5 class='card-title'>{{ image.title }}</h5>
                  <p class='card-text'>{{ image.description }}.</p>
                  <a href='{% url "delete-image" image.id %}' class='btn btn-outline-secondary btn-sm'>Delete</a>
                </div>
              </div>
            
            
        </li>
    {% endfor %}
    </ul>
    {% else %} 
    <h3>Upload some images!</h3>
    {% endif %}

{% endblock %}