{% extends 'images_repo/base.html' %} 

{% block content %}
<!-- TODO: add in homescreen for users that are logged in...-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Welcome to SharePic!
          </h1>
          <p class="lead text-white-50 mb-4">
            Login or register an account to experience all the platform has to
            offer!
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            {% if request.user.is_authenticated %}
            <a
              class="btn btn-primary btn-lg px-4 me-sm-3"
              href="{% url 'add-image' %}"
              >Get Started</a
            >
            {% else %}
            <a
              class="btn btn-primary btn-lg px-4 me-sm-3"
              href="{% url 'register-user' %}"
              >Get Started</a
            >
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-collection"></i>
        </div>
        <h2 class="h4 fw-bolder text-center">Share with your friends</h2>
        <p>
          Upload as many images as you would like to and choose who you want
          seeing them. Edit and delete photos at your leisure.
        </p>
        {% if request.user.is_authenticated %}
        <a class="text-decoration-none" href="{% url 'add-image' %}">
          Start sharing!
          <i class="bi bi-arrow-right"></i>
        </a>
        {% else %}
        <a class="text-decoration-none" href="{% url 'register-user' %}">
          Start sharing!
          <i class="bi bi-arrow-right"></i>
        </a>
        {% endif %}
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-building"></i>
        </div>
        <h2 class="h4 fw-bolder text-center">Your privacy matters.</h2>
        <p>
          Private photos are just that, private. Choose different privacy
          settings when uploading your photos; no one will see them except who
          you want to, we promise. We do not keep any information about your 
          photo when you choose to delete it.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">User testimonials</h2>
      <p class="lead mb-0">Our platform is a fan favorite</p>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- 'chili testimonial'-->
        <div class="card mb-4">
          <div class="card-body p-4"> 
            <div class="d-flex">
            <img class="rounded-circle w-25 img-fluid z-depth-2" src="../../../media/images/Chili_Pictures.jpg" alt="A picture of my cat" data-holder-rendered="true"/>
              <div class="flex-shrink-0">
                <i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
              </div>
              <div class="ms-4">
                <p class="mb-1">
                  "Please stop working on personal projects and pet me."
                </p>
                <div class="small text-muted">- My cat</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 'girlfriend testimonial'-->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
              </div>
              <div class="ms-4">
                <p class="mb-1">
                  "Really cool project love, can go on a date tonight instead of
                  talking about docker and containers?"
                </p>
                <div class="small text-muted">- My girlfriend</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
